{% extends 'layouts/base.html' %}


{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Hi!!, I'm Fabio Ávila, a developer backend with python. And this is a web page based on different knowledge acquired in the youtube video "Django crud App", created by the youtuber Fazt (Highly recommended). Thanks to his advice, instructions and so on, I was able to create, model and upload this project, and I was also able to learn about a new technology that helps me to facilitate work, time and also helps me to get more efficient results when operating the backend in web development.</p>
        <a href="https://www.youtube.com/watch?v=e6PkGDH4wWA&t=8232s&ab_channel=Fazt">checkout the video :D</a>

        <div class="text-center">
            <a class="btn btn-outline-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-outline-primary" href="/signup/">
                Signup
            </a>
        </div>
        
    </section>
</main>
{% endblock %}